mixin top-payment()
  .top-payment
    table.payment-info
      tr
        td Услуга:
        td подписка на сервис erozonexx.org
      tr
        td.title Провайдер услуги:
        td.value
          .bigS(style="word-wrap:break-word;") ООО "Т Медиа"
      tr
        td.title Стоимость:
        td.value
          .bigS(style="word-wrap:break-word;") 30 руб.сутки
      tr
        td.title Подключение:
        td.value
          .bigS(style="word-wrap:break-word;") 30 руб.
      tr
        td.title Периодичность списания:
        td.value
          .bigS(style="word-wrap:break-word;") сутки
    
    .payment-info Код подтверждения отправлен на номер 
      span +7 (903) 123-45-67
      br
      span.unsub Для отписки отправить СТОП