mixin rules(data)
	.rules
		a(href="#" title="").rules__button._dark-gray Вернуться
		.rules__title Правила предоставления услуги «Подписка на cvidanie.com» для Абонентов ПАО «МегаФон»
		.rules__text 
			| Данные положения являются обязательными и озвучиваются в настоящих правилах на предоставление услуги «Подписка» Абонентам ПАО «МегаФон» (далее — Абонент). 1. Воспользоваться услугой «Подписка» на Интернет-ресурс «cvidanie.com» (далее — «Подписка») на указанных ниже условиях могут любые физичес